<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="produtoLista">

    <ng-container matColumnDef="produtoCodigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.produtoCodigo}} </td>
    </ng-container>

    <ng-container matColumnDef="produtoNome">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let element"> {{element.produtoNome}} </td>
    </ng-container>

    <ng-container matColumnDef="produtoMarca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.produtoMarca}} </td>
    </ng-container>

    <ng-container matColumnDef="produtoValorVenda">
      <th mat-header-cell *matHeaderCellDef> Preço Venda (R$)</th>
      <td mat-cell *matCellDef="let element">  {{element.produtoValorVenda}} </td>
    </ng-container>

    <ng-container matColumnDef="produtoValorCusto">
      <th mat-header-cell *matHeaderCellDef> Preço Custo (R$)</th>
      <td mat-cell *matCellDef="let element"> {{element.produtoValorCusto}} </td>
    </ng-container>

    <ng-container matColumnDef="statusProduto">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let element"> {{element.statusProduto}} </td>
    </ng-container>

    <ng-container matColumnDef="produtolancamento">
      <th mat-header-cell *matHeaderCellDef> Data de Lançamento </th>
      <td mat-cell *matCellDef="let element"> {{element.produtolancamento}} </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef> Excluir </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="confirmarExcluir(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="alterar">
      <th mat-header-cell *matHeaderCellDef> Alterar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button [routerLink] = "['/home/cadastroProduto',element.produtoCodigo]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasMostrar; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasMostrar;"></tr>
  </table>
</section>
